.plantList img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}
.plantList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.plantList :hover{
    scale: 1.01;
    transition: 0.3s ease;
}